.gallery {
    margin: 20px 0 0 0;
    padding: 20px 40px 0 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-height: 480px;
    box-sizing: border-box;
}
