.info__feature{
    list-style-type: none;
}

.info__feature::before{
    content:url("../../../../assets/images/emojione_white-heavy-check-mark.svg");
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 8px; 
}