@import url("../../components/blocks/history/history.css"); 
@import url("../../components/blocks/history/__title/history__title.css"); 
@import url("../../components/blocks/history-date/history-date.css"); 
@import url("../../components/blocks/history-date/__header/history-date__header.css");
@import url("../../components/blocks/history-date/__text/history-date__text.css"); 
@import url("../../components/blocks/history-date/__download-btn/history-date__download-btn.css");
@import url("../../components/blocks/history-date/__images/history-date__images.css"); 
@import url("../../components/blocks/history-date/__item/history-date__item.css"); 
@import url("../../components/blocks/history-date/__media/history-date__media.css"); 
@import url("../../components/blocks/history-date/__frame/history-date__frame.css"); 
@import url("../../components/blocks/history-date/__caption/history-date__caption.css"); 
@import url("../../components/blocks/history-date/__actions/history-date__actions.css"); 
@import url("../../components/blocks/history-date/__delete/history-date__delete.css"); 
@import url("../../components/blocks/history-date/__download/history-date__download.css"); 
.history_body {
    margin: 0;
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /* Список изображений */
  .history-date__images {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px 90px;
    padding: 0;
    list-style: none;
  }
  
  .history-date__item {
    position: relative;
    background: #F5F5F5;
    width: 120px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  
 
.history-date__media {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .history-date__frame {
    width: 80px;
    height: 90px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .history-date__caption {
    font-size: 14px;
    text-align: center;
    margin: 5px 0 0 0;
    color: #333;
  }
  
  .history-date__frame img {
    width: 60%;
    height: auto;
  }
  
  .history-date__actions {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 5px;
  }
  
  .history-date__actions button {
    width: 22px;
    height: 22px;
    border: none;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .history-date__delete::before {
    content: url('../../assets/images/delete.svg');
  }
  
  .history-date__download::before {
    content: url('../../assets/images/downloadmini.svg');
  }
  