.buttons__processing{
    width: 18.5rem;
    height: 5.625rem;
    background: linear-gradient(to bottom, #0D99FF, #5ABAFF);
    font-size: 1.25rem;
    font-family: GothamM;
    color: white;
    border: 0px;
    border-radius: 50px;
    box-sizing: border-box;
}

.buttons__processing:hover{
    filter: brightness(0.7);
}